.icono-navbar-superior
{
    font-size: 1.65rem;
}

.img-config
{
    width:100px;
    margin-top:5px;
    margin-bottom:5px;
}

.img-inicio-header
{
    width:450px;
}

.img-inicio
{
    width:300px;
    margin-bottom:20px;
}